h1{
  text-align: center;
}
.Cosplay {
  display:inline-block;
}

#piccon {

}

.Cosplay {
  display:inline-block;
}

#piccon {

}
#Pickles th{
  width:500px; height: 100px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
